<div class="row">      
   <div class="two columns" >
    <div id="pad-left">
      <ul>
      <li><a href="http://www.3-beards.com">3 Beards</a></li>
      <li><a href="http://www.techbikers.com">Tech Bikers</a></li>
      <li><a href="http://unicornhunt.io">Unicorn hunt</a></li>
      <li><a href="http://inthecompanyofus.github.io/yesand">Yes,&amp;...</a></li>
      <li><a href="http://soundcloud.com/benjamin-southworth">Music</a></li>
      <li><a href="http://www.linkedin.com/benjamin-southworth">Linked In</a></li>
    </ul>
</div>
</div>