{% include header.html %}
{% include branding.html %}
{% include linkroll.html %} 
<div class="eight columns">
<div id="top-and-sides">

    {% include browser-upgrade.html %}

    <div id="page-wrapper">
      {{ content }}
      {% include footer.html %}
    </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="{{ site.url }}/js/jquery.fittext.js"></script>
<script>
  jQuery("#responsive_headline").fitText(0.6);
  jQuery("#responsive_byline").fitText(1.9);
  jQuery("#responsive_tagline").fitText(2.1);
  jQuery("#responsive_aside_right").fitText(0.4);
  jQuery("#responsive_aside_left").fitText(0.5);
</script>

</body>
</html>