  <div class="container">
    <div class="row" style="margin-top: 5%">
      <div class="four columns"><img src="images/Logo_no_box.png" style="width:100%">
      <div id="dense">
      <ul>
      <li><a href="mailto:benjamin@southworthindustries.com">benjamin@southworthindustries.com</a></li>
      <li>+44(0)7595 485006</li>
      <li><a href="http://www.twitter.com/inthecompanyof">@inthecompanyof</a></li>

    </ul>
  </div>
      </div>
      <div class="eight columns">
        <div id="left-and-right">
          <h1 id="responsive_headline">Dispatches</h1>
          <h2 id="responsive_byline">Observations on the loops of life</h2>
          <h2 id="responsive_tagline">Collections of serious &amp; not so much</h2>
        </div>
      </div>
    </div> 