{% include header.html %}
{% include branding.html %}
{% include linkroll.html %} 
<div class="two columns">
 <div id="right-hand-border"> 
<h6>Latest Posts</h6>
{% for post in site.posts %}
{% include side-bar.html %}
{% endfor %}
<h6>colophon</h6>
    <p>This is the digital house of Benjamin Southworth</p>

<script type="text/javascript">
    var userFeed = new Instafeed({
        get: 'user',
        userId: 260967,
        accessToken: '260967.3e1911f.9ad5688e202e45f48fe7202ba2e2504e',
        limit: 6
      });
    userFeed.run();
</script>
 <h6>instagram</h6>
<div id="instafeed"></div>
</div>
</div>
<div class="eight columns">
<div id="top-and-sides">

    {% include browser-upgrade.html %}

    <div id="page-wrapper">
      {{ content }}
      {% include footer.html %}
    </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script>
  jQuery("#responsive_headline").fitText(0.6);
  jQuery("#responsive_byline").fitText(1.9);
  jQuery("#responsive_tagline").fitText(2.1);
  jQuery("#responsive_aside_right").fitText(0.4);
  jQuery("#responsive_aside_left").fitText(0.5);
  jQuery(".post_title").fitText(0.9);
</script>

</body>
</html>